.floatimg {
  float: left;
}

body {

}

.grey {
  color: black;
  background-color: #c7c7c7;
}


.grey:hover {
  color: red;
  background-color: #8c8c8c;
}

.padme {
  padding-left: 15px;
  
}
.t1 {
  background-image: url('./imgs/tab1.jpg');
  background-size:100%;
}
.t2 {
  background-image: url('./imgs/tab2.jpg');
  background-size:100%;
}
.t3 {
  background-image: url('./imgs/tab3.jpg');
  background-size:100%;
}
.t4 {
  background-image: url('./imgs/tab4.jpg');
  background-size:100%;
}
.t5 {
  background-image: url('./imgs/tab1.jpg');
  background-size:100%;
}

