.floatimg {
  float: left;
}

body {

}

.grey {
  color: black;
  background-color: #c7c7c7;
}


.grey:hover {
  color: #5FFFB8;
  background-color: #8c8c8c;
}

.padme {
  padding-left: 15px;
  
}
.t1 {
  background-image: url('./imgs/tab1.jpg');
  background-size:100%;
}
.t2 {
  background-image: url('./imgs/tab2.jpg');
  background-size:100%;
}
.t3 {
  background-image: url('./imgs/tab3.jpg');
  background-size:100%;
}
.t4 {
  background-image: url('./imgs/tab4.jpg');
  background-size:100%;
}
.t5 {
  background-image: url('./imgs/tab5.png');
  background-size:100%;
}

.t1, .t2, .t3, .t4, .t5 {
   color: white;
}

.t1:hover, .t2:hover .t3:hover, .t4:hover, .t5:hover {
   background-color: #8c8c8c; 
    color: black;
}