h1, h3 {

    font-family: 'Glegoo', serif;
}

p, h2 {
 font-family: 'Anaheim', sans-serif;
}

body {
  background-color: #E8E8E8;
}
.showcase {
	position: relative;
	background: url('./components/imgs/mac.jpg') center center no-repeat fixed; 
      
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	min-height: 400px;
}

/* http://mrmrs.github.io/photos/u/011.jpg    */  
.floatimg {
  float: right;
}


.ba {
    border-style: solid;
    border-width: 10px;
    border-color: #5FFFB8;
}

.redborder {
  border-color: #5FFFB8;
}


/*

    

   
*/